<div class="row">
    <div class="col-md-12">

        <!-- Start sample table -->
        <div class="table-responsive rounded mb-20">
            <table class="table table-striped table-theme">
                <thead>
                <tr>
                    <th class="text-center border-right">No.</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th class="text-center">Rating</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="table in tables">
                    <td class="text-center border-right">{{$index + 1}}</td>
                    <td>
                        <img src="http://img.djavaui.com/?create=35x35,4888E1?f=ffffff" class="img-circle img-bordered-theme" alt="{{table.name}}">
                        <span>{{table.name}}</span>
                    </td>
                    <td>{{table.location}}</td>
                    <td>{{table.position}}</td>
                    <td class="text-center">
                        <div data-ng-show="table.rating != 0" class="rating">
                            <span data-ng-class="{'active': table.rating == 5}" class="star"></span>
                            <span data-ng-class="{'active': table.rating == 4}" class="star"></span>
                            <span data-ng-class="{'active': table.rating == 3}" class="star"></span>
                            <span data-ng-class="{'active': table.rating == 2}" class="star"></span>
                            <span data-ng-class="{'active': table.rating == 1}" class="star"></span>
                        </div>
                    </td>
                    <td class="text-center">
                        <a href="#" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View detail"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th class="text-center border-right">No.</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th class="text-center">Rating</th>
                    <th class="text-center">Action</th>
                </tr>
                </tfoot>
            </table>
        </div><!-- /.table-responsive -->
        <!--/ End sample table -->
    </div>
</div><!-- /.row -->