<div ng-if="viewType == 'list'">
<div class="table-responsive mb-20">
  <div class="loader" ng-if="isloadingDiagnosis">
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
</div>
    <div ng-if="diagnoseSuccessMsg" class="text-success cust-success-msg"> {{diagnoseSuccessMsg}}</div>
    <div ng-if="diagnoses.length == 0" class="norec text-center"> no diagnose found</div>
    <div ng-if="diagnoses.length > 0" class="text-bold">total records found are {{diagnoses.length}}</div>
    <table class="table table-striped table-lilac" ng-if="!isloadingDiagnosis && diagnoses.length > 0">
        <thead>
        <tr>
            <th>Title</th>
            <th>Code</th>
            <th>Category</th>
            <th>Is Urgent?</th>
            <th ng-if="getType() == 'Assigned'">Assigned On</th>
            <th ng-if="getType() == 'Completed' || getType() == 'Accepted' || getType() == 'Rejected'">Status</th>
            <th ng-if="getType() == 'Assigned'"></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="diagnose in diagnoses track by $index">

            <td>{{diagnose.Title}}</td>
            <th>{{diagnose.Code}}</th>
            <td>{{diagnose.Category}}</td>
            <td>
                <span class="label label-success" ng-if="diagnose.IsUrgent == true">
                    Yes
                </span>
                <span class="label label-warning" ng-if="diagnose.IsUrgent == false">
                    No
                </span>
            </td>
            <td ng-if="getType() == 'Assigned'">{{diagnose.AssignedOn}}</td> 
            <td ng-if="diagnose.Status == 'Completed' || diagnose.Status == 'Accepted' || diagnose.Status == 'Rejected'">
                <dic class="text-bold" ng-if="diagnose.CompletedOn"> Completed On {{diagnose.CompletedOn}}</div>
                <div  class="text-bold" ng-if="diagnose.ApprovedOn"> <label class="label label-success">Accepted</label> On {{diagnose.ApprovedOn}}</div>
                <div  class="text-bold" ng-if="diagnose.RejectedOn"> <label class="label label-danger">Rejected</label> on {{diagnose.RejectedOn}}</div>
            </td>        
            <td ng-if="getType() == 'Assigned'">
                <a data-tooltip href="#" ng-click="UnAssignDiagnose(diagnose,$index)" data-toggle="modal" data-target=".diagnose-cancel-modal" data-modal-zindex class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Un Assign">
                    <i class="fa fa-delete"></i>
                    Un Assign
                </a>
                <a data-tooltip href="#" ng-click="setFillDiagnose(diagnose,$index)" data-toggle="modal" data-modal-zindex class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Fill diagnosis">
                    <i class="fa fa-pencil"></i>
                    Fill diagnosis
                </a>
            </td>    
        </tr>
        </tbody>
    </table>
</div><!-- /.table-responsive -->
</div>
<div ng-if="viewType == 'fill'">
    <div class="row">
    <div class="col-md-12">
         <span>
            <button class="btn btn-default pull-right" ng-click="backToList()">Go Back</button>
        </span>
        <!-- Start basic wizard vertical -->
        <div data-basic-wizard-vertical>
            <h4>Create diagnose by following steps</h4>
            <div class="panel panel-tab panel-tab-double panel-tab-vertical row no-margin rounded shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding col-md-3">
                    <ul class="nav nav-tabs">
                        <li   ng-click="setCurrentInfo('diagnose1')" ng-class="{'active':currentActive.diagnose1 == true}">
                            <a id="first-tab" href="#tab1" class="li-diagnose1" data-toggle="tab">
                                <i class="fa fa-pencil"></i>
                                <div>
                                    <span class="text-strong">Diagnosis 1</span>
                                </div>
                            </a>
                        </li>
                        <li  ng-click="setCurrentInfo('diagnose2')" ng-class="{'active':currentActive.diagnose2 == true}">
                            <a href="#tab2" class="li-diagnose2" data-toggle="tab" ng-class="{'not-active':!diagnosisMod.diagnose1}" >
                                 <i class="fa fa-pencil"></i>
                                <div>
                                    <span class="text-strong">Diagnosis 2</span>
                                </div>
                            </a>
                        </li>
                        <li ng-click="setCurrentInfo('diagnose3')" ng-class="{'active':currentActive.diagnose3 == true}">
                            <a href="#tab3" class="li-diagnose3" data-toggle="tab" ng-class="{'not-active':!diagnosisMod.diagnose2}" >
                                <i class="fa fa-pencil"></i>
                                <div>
                                    <span class="text-strong">Diagnosis 3</span>
                                </div>
                            </a>
                        </li>
                        <li ng-click="setCurrentInfo('confirmation')" ng-class="{'active':currentActive.confirmation == true}">
                            <a href="#tab4" class="li-confirmation" data-toggle="tab" ng-class="{'not-active':!diagnosisMod.diagnose3}" >
                                 <i class="fa fa-check-circle"></i>
                                <div>
                                    <span class="text-strong">Confirmation</span>
                                </div>
                            </a>
                        </li>
                        <li ng-click="setCurrentInfo('submission')" ng-class="{'active':currentActive.submission == true}">
                            <a href="#tab5" class="li-submission" data-toggle="tab" ng-class="{'not-active':diagnosisMod.confirmation}" >
                                <i class="fa fa-save"></i>
                                <div>
                                    <span class="text-strong">Submission</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.panel-heading -->
                <!--/ End tabs heading -->

                <!-- Start tabs content -->
                <div class="panel-body col-md-9">
                    <form name="diagnosisForm.form" ng-submit="submitDiagnose()" class="tab-content form-horizontal diagnose-form" novalidate="novalidate">
                        <div class="tab-pane fade in active inner-all" id="tab1">
                            <h4 class="page-header">Fill the diagnose</h4>
                            <div class="form-group">
                                <label class="col-sm-2">Diagnose1</label>
                                <div class="col-sm-8">
                                    <textarea required ng-model="diagnosisMod.diagnose1" name="diagnose1" class="form-control"></textarea>
                                    <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.diagnose1.$error.required" class="text-danger mb0 valerror">Required</p>
                                </div>
                            </div>
                            <ul class="pager wizard no-margin">
                                <li class="next"><a href="javascript:void(0);" ng-click="setCurrentInfo('diagnose2')" ng-if="diagnosisMod.diagnose1">Next</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade in inner-all" id="tab2">
                            <h4 class="page-header">Fill the diagnose</h4>
                            <div class="form-group">
                                <label class="col-sm-2">Diagnose2</label>
                                <div class="col-sm-8">
                                    <textarea required ng-model="diagnosisMod.diagnose2" name="diagnose2" class="form-control"></textarea>
                                    <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.diagnose2.$error.required" class="text-danger mb0 valerror">Required</p>
                                </div>
                            </div>
                            <ul class="pager wizard no-margin">
                                <li class="next"><a href="javascript:void(0);" ng-click="setCurrentInfo('diagnose3')" ng-if="diagnosisMod.diagnose2">Next</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade in inner-all" id="tab3">
                            <h4 class="page-header">Fill the diagnose</h4>
                            <div class="form-group">
                                <label class="col-sm-2">Diagnose3</label>
                                <div class="col-sm-8">
                                    <textarea required ng-model="diagnosisMod.diagnose3" name="diagnose3" class="form-control"></textarea>
                                    <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.diagnose3.$error.required" class="text-danger mb0 valerror">Required</p>
                                </div>
                            </div>
                            <ul class="pager wizard no-margin">
                                <li class="next"><a href="javascript:void(0);" ng-click="setCurrentInfo('confirmation')" ng-disabled="diagnosisMod.diagnose3">Next</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade inner-all" id="tab4">
                            <h4 class="page-header">please confirm the details you entered</h4>
                             <div class="form-group mb-0">
                                <div class="col-sm-12 text-right">
                                    <div class="ckbox ckbox-theme pull-right">
                                        <input id="cr_detailsConfirmed" type="checkbox"  name="confirmation" ng-model="diagnosisMod.confirmation" >
                                        <label for="cr_detailsConfirmed">Accept the details are correct?</label>
                                    </div>
                                </div>
                            </div>
                            <ul class="pager wizard no-margin">
                                <li class="next"><a href="javascript:void(0);" ng-click="setCurrentInfo('submission')"  ng-if="diagnosisMod.confirmation">Next</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade inner-all" id="tab5">
                            <div class="wd100per text-danger cust-success-msg" ng-if="diagnoseSuccessMsg">
                                {{diagnoseSuccessMsg}}
                            </div>
                            <h4 class="page-header">accept our terms and submit your diagnosis, doctors are waiting</h4>
                            <div class="form-group mb-0">
                                <div class="col-sm-12 text-right">
                                    <div class="ckbox ckbox-theme pull-right    ">
                                        <input id="cr_termssubmission" type="checkbox"  name="termsAccepted" ng-model="diagnosisMod.submission" >
                                        <label for="cr_termssubmission">submit?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer no-bg">
                        <ul class="pager wizard no-margin">
                            <li class="previous"><a href="javascript:void(0);"  ng-click="setCurrentInfo('confirmation')">Previous</a></li>
                            <li class="next">
                                <a href="javascript:void(0);" ng-click="submitDiagnose()"  ng-if="diagnosisMod.submission" >Submit
                                </a>
                            </li>
                        </ul>
                    </div>
                        </div>
                    </form>
                </div><!-- /.panel-body -->
                <!--/ End tabs content -->
            </div><!-- /.panel -->
        </div><!-- /#basic-wizard-vertical -->
        <!--/ End basic wizard vertical-->

    </div>
</div><!-- /.row -->

</div>
<div class="modal fade diagnose-complete-modal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Complete Diagnose</h4>
            </div>
            <div class="modal-body">
                <form name="diagnosisForm.form" ng-submit="submitDiagnose()" class="tab-content form-horizontal diagnose-form" novalidate="novalidate">
                    <div class="form-group">
                        <label class="col-sm-3 text-right">Diagnose 1</label>
                        <div class="col-sm-5">
                            <textarea required ng-model="diagnosisMod.Diagnose1" name="Diagnose1" class="form-control"></textarea>
                            <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.Diagnose1.$error.required" class="text-danger mb0 valerror">Required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  text-right">Diagnose 2</label>
                        <div class="col-sm-5">
                            <textarea required ng-model="diagnosisMod.Diagnose2" name="Diagnose2" class="form-control"></textarea>
                            <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.Diagnose2.$error.required" class="text-danger mb0 valerror">Required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  text-right">Diagnose 3</label>
                        <div class="col-sm-5">
                            <textarea required ng-model="diagnosisMod.Diagnose3" name="Diagnose3" class="form-control"></textarea>
                            <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.Diagnose3.$error.required" class="text-danger mb0 valerror">Required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  text-right">Infection Type</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="InfectionType" required="">
                                <option value="">Please Select Infection Type</option>
                                <option value="inf.Id" ng-repeat="inf in infectionTypes">{{inf.InfectionType}}</option>
                            </select>
                            <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.InfectionType.$error.required" class="text-danger mb0 valerror">Required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  text-right">Possible Reason</label>
                        <div class="col-sm-5">
                            <textarea required ng-model="diagnosisMod.PossibleReason" name="PossibleReason" class="form-control"></textarea>
                            <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.PossibleReason.$error.required" class="text-danger mb0 valerror">Required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  text-right">Possible Solution</label>
                        <div class="col-sm-5">
                            <textarea required ng-model="diagnosisMod.PossibleSolution" name="PossibleSolution" class="form-control"></textarea>
                            <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.PossibleSolution.$error.required" class="text-danger mb0 valerror">Required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  text-right">Percentage Positive</label>
                        <div class="col-sm-5">
                            <textarea required ng-model="diagnosisMod.PercentagePositive" name="PercentagePositive" class="form-control"></textarea>
                            <p ng-show="diagnosisForm.form.$submitted && diagnosisForm.form.PercentagePositive.$error.required" class="text-danger mb0 valerror">Required</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-assigned" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-theme" ng-click="submitFillDiagnoses()" ng-disabled="!diagnosisForm.form.$valid">Save changes</button>
            </div>
        </div>
    </div>
</div>
