<div class="table-responsive mb-20">
  <div class="loader" ng-if="isloadingDiagnosis">
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
</div>
    <div ng-if="diagnoses.length == 0" class="norec text-center"> no diagnose found</div>
    <div ng-if="diagnoses.length > 0" class="text-bold">total records found are {{diagnoses.length}}</div>
    <table class="table table-striped table-lilac" ng-if="!isloadingDiagnosis && diagnoses.length > 0">
        <thead>
        <tr>
            <th>Title</th>
            <th>Code</th>
            <th>Category</th>
            <th>Is Urgent?</th>
            <th>Created On</th>
            <th ng-if="getType() == 'New'" class="text-center">Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="diagnose in diagnoses track by $index">
            <td>{{diagnose.Title}}</td>
            <td>{{diagnose.Code}}</td>
            <td>{{diagnose.Category}}</td>
            <td>
                <span class="label label-success" ng-if="diagnose.IsUrgent == true">
                    Yes
                </span>
                <span class="label label-warning" ng-if="diagnose.IsUrgent == false">
                    No
                </span>
            </td>
            <td>{{diagnose.CreatedOn}}</td>
            <td>{{diagnose.Status}}</td>        
            <td ng-if="getType() == 'New'">
                <a data-tooltip href="#" ng-click="setCurrentDiagnose(diagnose,$index)" data-toggle="modal" data-target=".diagnose-modal-assign" data-modal-zindex class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Assign">
                    <i class="fa fa-pencil"></i>
                    Assign
                </a>
            </td>    
        </tr>
        </tbody>
    </table>
</div><!-- /.table-responsive -->

<div class="modal fade diagnose-modal-assign" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Assign Confirmation</h4>
            </div>
            <div class="modal-body">
                <p ng-if="currentDoctorDiagnosesCount < 3">
                     you are about to assign yourself diagnosis 
                     <span class="fw700">{{diagnose.Code}}</span>, click ok to proceed, click cancel to return back to screen
                </p>
                 <p ng-if="currentDoctorDiagnosesCount > 2">
                     You cannot assign yourself diagnosis 
                     <span class="fw700">{{diagnose.Code}}</span>, as you have 3 uncomplete diagnosis. click view to view the list or cancel
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-doctr-diag" data-dismiss="modal">Cancel</button>
                <button ng-if="currentDoctorDiagnosesCount < 3" type="button" class="btn btn-success" ng-click="moveDiagnose(diagnose,index)">Ok</button>
                <a ng-if="currentDoctorDiagnosesCount > 2" ng-click="moveToUnAssignedList()" type="button" class="btn btn-success">View</a>
            </div>
        </div>
    </div>
</div>
