<!-- Start left navigation - profile shortcut -->
<div class="sidebar-content">
    <a href="#" class="close">&times;</a>
    <div class="media">
        <!-- <a class="pull-left has-notif avatar" data-ng-href="page-profile">
            <img src="http://img.djavaui.com/?create=50x50,4888E1?f=ffffff" alt="admin">
            <i class="online"></i>
        </a> -->
        <div class="media-body">
            <h4 class="media-heading">Hello, <span>{{currentUser.FullName}}</span></h4>
            <small ng-if="checkLoggedInUserPerm('1')">Doctor</small>
            <small ng-if="checkLoggedInUserPerm('2')">Nurse</small>
        </div>
    </div>
</div><!-- /.sidebar-content -->
<!--/ End left navigation -  profile shortcut -->

<!-- Start left navigation - menu -->
<ul data-collapse-menu class="sidebar-menu" ng-if="checkLoggedInUserPerm('1')">

    <!-- Start navigation - dashboard -->
    <!-- <li class="active">
        <a href="#/dashboard" data-active-menu>
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li> -->
    <!--/ End navigation - dashboard -->

    <!-- Start category apps -->
    <li class="sidebar-category">
        <span>PUBLIC POOL</span>
        <span class="pull-right"><i class="fa fa-magic"></i></span>
    </li>
    <!--/ End category apps -->

    <!-- Start navigation - blog -->
    <li class="submenu" ng-class="{'active':$state.current.name == 'pool-new-diagnosis'}">
        <a href="javascript:void(0);" ui-sref='pool-new-diagnosis'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">New Diagnosis</span>
        </a>
    </li>
    <li class="submenu"  ng-class="{'active':$state.current.name == 'pool-timeouts'}">
        <a href="javascript:void(0);"  ui-sref='pool-timeouts'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Timeouts</span>
        </a>
    </li>

     <!-- Start category apps -->
    <li class="sidebar-category">
        <span>MY LIST</span>
        <span class="pull-right"><i class="fa fa-magic"></i></span>
    </li>
    <!--/ End category apps -->

    <!-- Start navigation - blog -->
    <li class="submenu"  ng-class="{'active':$state.current.name == 'list-assigned'}">
        <a href="javascript:void(0);"  ui-sref='list-assigned'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Assigned</span>
        </a>
    </li>
    <li class="submenu"  ng-class="{'active':$state.current.name == 'list-completed'}">
        <a href="javascript:void(0);"  ui-sref='list-completed'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Completed</span>
        </a>
    </li>
     <li class="submenu"  ng-class="{'active':$state.current.name == 'list-timeout'}">
        <a href="javascript:void(0);"  ui-sref='list-timeout'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Timed Out</span>
        </a>
    </li>


     <!-- Start category apps -->
    <li class="sidebar-category">
        <span>Notifications</span>
        <span class="pull-right"><i class="fa fa-magic"></i></span>
    </li>
    <!--/ End category apps -->

    <!-- Start navigation - blog -->
    <li class="submenu"  ng-class="{'active':$state.current.name == 'doctor-notifications-all'}">
        <a href="javascript:void(0);"  ui-sref='doctor-notifications-all'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">All</span>
        </a>
    </li>
    <li class="submenu"  ng-class="{'active':$state.current.name == 'doctor-notifications-unread'}">
        <a href="javascript:void(0);"  ui-sref='doctor-notifications-unread'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Unread</span>
        </a>
    </li>
    <li class="submenu"  ng-class="{'active':$state.current.name == 'doctor-notifications-archived'}">
        <a href="javascript:void(0);"  ui-sref='doctor-notifications-archived'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Archived</span>
        </a>
    </li>


    
    <!--/ End documentation - api documentation -->

</ul><!-- /.sidebar-menu -->

<!-- Start left navigation - menu -->
<ul data-collapse-menu class="sidebar-menu" ng-if="checkLoggedInUserPerm('2')">

    <!-- Start navigation - dashboard -->
    <!-- <li class="active">
        <a href="#/dashboard" data-active-menu>
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li> -->
    <!--/ End navigation - dashboard -->

    <!-- Start category apps -->
    <li class="sidebar-category">
        <span>DIAGNOSIS</span>
        <span class="pull-right"><i class="fa fa-magic"></i></span>
    </li>
    <!--/ End category apps -->

    <!-- Start navigation - blog -->
    <li class="submenu" ng-class="{'active':$state.current.name == 'diagnosis-unassignednew'}">
        <a href="javascript:void(0);"  ui-sref='diagnosis-unassignednew'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">UnAssigned/New</span>
        </a>
    </li>
    <li class="submenu" ng-class="{'active':$state.current.name == 'diagnosis-assigned'}">
        <a href="javascript:void(0);"  ui-sref='diagnosis-assigned'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Assigned</span>
        </a>
    </li>
    <li class="submenu" ng-class="{'active':$state.current.name == 'diagnosis-completed'}">
        <a href="javascript:void(0);"  ui-sref='diagnosis-completed'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Completed</span>
        </a>
    </li>
    <li class="submenu" ng-class="{'active':$state.current.name == 'diagnosis-timeout'}">
        <a href="javascript:void(0);"  ui-sref='diagnosis-timeout'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Timed Out</span>
        </a>
    </li>

     <!-- Start category apps -->
    <li class="sidebar-category">
        <span>NOTIFICATIONS</span>
        <span class="pull-right"><i class="fa fa-magic"></i></span>
    </li>
    <!--/ End category apps -->

    <!-- Start navigation - blog -->
    <li class="submenu" ng-class="{'active':$state.current.name == 'nurse-notifications-all'}">
        <a href="javascript:void(0);"  ui-sref='nurse-notifications-all'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">All</span>
        </a>
    </li>
    <li class="submenu" ng-class="{'active':$state.current.name == 'nurse-notifications-unread'}">
        <a href="javascript:void(0);" ui-sref='nurse-notifications-unread'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Unread</span>
        </a>
    </li>
     <li class="submenu" ng-class="{'active':$state.current.name == 'nurse-notifications-archived'}">
        <a href="javascript:void(0);" ui-sref='nurse-notifications-archived'>
            <span class="icon"><i class="fa fa-globe"></i></span>
            <span class="text">Archived</span>
        </a>
    </li>
    
    <!--/ End documentation - api documentation -->

</ul><!-- /.sidebar-menu -->

<!--/ End left navigation - menu -->

<!-- Start left navigation - footer -->
<div class="sidebar-footer hidden-xs hidden-sm hidden-md" style="display: none;">
    <a data-setting class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Setting"><i class="fa fa-cog"></i></a>
    <a data-fullscreen class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Fullscreen"><i class="fa fa-desktop"></i></a>
    <a data-lock-screen  class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Lock Screen"><i class="fa fa-lock"></i></a>
    <a data-logout class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Logout"><i class="fa fa-power-off"></i></a>
</div><!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->